DB_URL=
AUTH_SECRET=
FORGOT_TOKEN_SECRET=
ENVIRONMENT=PROD
DOMAIN=https://expense-tracker-nine-indol-48.vercel.app
FRONTEND_URL=https://expense-tracker-nine-indol-48.vercel.app
SENDER_EMAIL=
SENDER_PASSWORD=
PORT=3030
